Repository drapala/validahub-new, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, database, tests, documentation, ci/cd, dependencies

refactor: improve code quality based on Copilot suggestions
  apps/api/src/core/config.py
  apps/api/src/core/result.py
  apps/api/src/core/validators/job_validator.py
  apps/api/src/infrastructure/repositories/job_repository.py
  apps/api/src/services/job_creation_service.py
Labels: none

fix: improve logging levels and error messages
  apps/api/src/core/result.py
  apps/api/src/infrastructure/repositories/job_repository.py
  apps/api/src/services/job_query_service.py
Labels: none

refactor: centralize constants and improve code consistency
  apps/api/src/core/constants.py
  apps/api/src/core/result.py
  apps/api/src/core/validators/job_validator.py
  apps/api/src/infrastructure/repositories/job_repository.py
  apps/api/src/services/job_creation_service.py
Labels: none

feat: add IJobService interface and documentation (MED-3) (#30)
  apps/api/docs/ADAPTER_PATTERN.md
  apps/api/docs/JOB_SYSTEM.md
  apps/api/src/api/dependencies/job_service.py
  apps/api/src/core/config.py
  apps/api/src/core/constants.py
  apps/api/src/core/interfaces/job_service.py
  apps/api/src/core/result.py
  apps/api/src/core/validators/job_validator.py
  apps/api/src/infrastructure/repositories/job_repository.py
  apps/api/src/services/job_creation_service.py
  apps/api/src/services/job_query_service.py
  apps/api/src/services/job_service_adapter.py
  docs/planning/MARKETING_GTM_BACKLOG.md
Labels: documentation

feat: centralize configuration with Pydantic Settings (MED-4)
  apps/api/.env.example
  apps/api/src/config.py
  apps/api/src/core/config_adapter.py
  apps/api/src/core/settings.py
  apps/api/src/core/validators/job_validator.py
Labels: none

feat: Job Service refactoring with SOLID principles and centralized configuration (#31)
  apps/api/.env.example
  apps/api/src/config.py
  apps/api/src/core/config_adapter.py
  apps/api/src/core/settings.py
  apps/api/src/core/validators/job_validator.py
Labels: none

feat: implement repository layer for database operations (MED-5)
  apps/api/src/infrastructure/repositories/base_repository.py
  apps/api/src/infrastructure/repositories/file_repository.py
  apps/api/src/infrastructure/repositories/user_repository.py
  apps/api/src/infrastructure/repositories/validation_result_repository.py
  apps/api/src/models/validation_result.py
Labels: none

fix: improve database compatibility and robustness in repositories
  apps/api/src/infrastructure/repositories/base_repository.py
  apps/api/src/infrastructure/repositories/file_repository.py
  apps/api/src/infrastructure/repositories/validation_result_repository.py
Labels: none

fix: replace deprecated datetime.utcnow() and improve UUID generation
  apps/api/src/infrastructure/repositories/file_repository.py
  apps/api/src/infrastructure/repositories/user_repository.py
  apps/api/src/infrastructure/repositories/validation_result_repository.py
  apps/api/src/models/validation_result.py
Labels: none

fix: avoid query reuse in get_marketplace_statistics
  apps/api/src/infrastructure/repositories/validation_result_repository.py
Labels: none

feat: improve update method and add Databricks integration design
  apps/api/src/infrastructure/repositories/base_repository.py
  docs/architecture/DATABRICKS_INTEGRATION.md
Labels: documentation

feat: Implement comprehensive repository layer for database operations (#32)
  apps/api/src/infrastructure/repositories/base_repository.py
  apps/api/src/infrastructure/repositories/file_repository.py
  apps/api/src/infrastructure/repositories/user_repository.py
  apps/api/src/infrastructure/repositories/validation_result_repository.py
  apps/api/src/models/validation_result.py
  docs/architecture/DATABRICKS_INTEGRATION.md
Labels: documentation

refactor: consolidate utilities and separate middleware responsibilities (LOW-2, LOW-3, LOW-5)
  apps/api/src/api/v1/jobs.py
  apps/api/src/api/v1/validation.py
  apps/api/src/api/v1/validation_refactored.py
  apps/api/src/core/logging_config.py
  apps/api/src/core/utils.py
  apps/api/src/main.py
  apps/api/src/middleware/__init__.py
  apps/api/src/middleware/authentication_middleware.py
  apps/api/src/middleware/correlation_middleware.py
  apps/api/src/middleware/rate_limit_middleware.py
  apps/api/src/middleware/security_headers_middleware.py
Labels: none

fix: address Copilot feedback on Kafka emitter
  apps/api/src/telemetry/emitters.py
Labels: none

fix: address Copilot security and code quality feedback
  apps/api/src/middleware/authentication_middleware.py
  apps/api/src/middleware/rate_limit_middleware.py
Labels: none

docs: update README to English and reflect current architecture
  README.md
Labels: documentation

docs: enhance README with enterprise-grade improvements
  README.md
Labels: documentation

refactor: split JobService into specialized components (NEW-CRIT-1)
  apps/api/src/services/__init__.py
  apps/api/src/services/job_cancellation_service.py
  apps/api/src/services/job_idempotency_service.py
  apps/api/src/services/job_service_refactored.py
  apps/api/src/services/job_status_sync_service.py
  docs/adr/001-cqrs-architecture.md
  docs/architecture/JOB_SERVICE_REFACTORING.md
Labels: documentation

docs: clean up outdated and redundant documentation
  docs/FEATURE_ROADMAP.md
  docs/IMPLEMENTATION_PLAN.md
  docs/JOB_ARCHITECTURE_REVIEW.md
  docs/planning/BRANCHLESS_REFACTORING_PLAN.md
  docs/planning/MARKETING_GTM_BACKLOG.md
  docs/planning/PRAGMATIC_REFACTORING_PLAN.md
  docs/tasks/ENG-5-DOD.md
  docs/tech-debt/findings/TD-001.md
  docs/tech-debt/findings/TD-002.md
  docs/tech-debt/findings/TD-003.md
  docs/tech-debt/inventory.csv
Labels: documentation

docs: add ADR-003 for BI and telemetry architecture
  docs/adr/003-bi-telemetry-architecture.md
  docs/adr/README.md
Labels: documentation

fix: correct pydantic-settings import for Pydantic v2
  apps/api/src/core/settings.py
  docs/adr/004-multi-tenancy-architecture.md
Labels: documentation

fix: correct pydantic-settings import for Pydantic v2 (#38)
  apps/api/src/core/settings.py
  docs/adr/004-multi-tenancy-architecture.md
Labels: documentation

feat: add multi-format report generation (Excel, PDF, JSON)
  apps/api/requirements.txt
  apps/api/src/api/v1/validation.py
  apps/api/src/services/report_generator_service.py
  apps/web/components/apply-fixes-bar.tsx
Labels: none

Update apps/api/src/services/report_generator_service.py
  apps/api/src/services/report_generator_service.py
Labels: none

feat: add multi-format report generation (Excel, PDF, JSON) (#39)
  apps/api/requirements.txt
  apps/api/src/api/v1/validation.py
  apps/api/src/services/report_generator_service.py
  apps/web/components/apply-fixes-bar.tsx
Labels: none

fix: resolve Pydantic v2 import errors and telemetry middleware issues
  apps/api/src/core/settings.py
  apps/api/src/main.py
Labels: none

fix: resolve Pydantic v2 import errors and telemetry middleware issues (#40)
  apps/api/src/core/settings.py
  apps/api/src/main.py
Labels: none

refactor: split JobService into specialized components (SOLID) (#37)
  apps/api/src/services/__init__.py
  apps/api/src/services/job_cancellation_service.py
  apps/api/src/services/job_idempotency_service.py
  apps/api/src/services/job_service_refactored.py
  apps/api/src/services/job_status_sync_service.py
  docs/FEATURE_ROADMAP.md
  docs/IMPLEMENTATION_PLAN.md
  docs/JOB_ARCHITECTURE_REVIEW.md
  docs/adr/001-cqrs-architecture.md
  docs/adr/003-bi-telemetry-architecture.md
  docs/adr/README.md
  docs/architecture/JOB_SERVICE_REFACTORING.md
  docs/planning/BRANCHLESS_REFACTORING_PLAN.md
  docs/planning/MARKETING_GTM_BACKLOG.md
  docs/planning/PRAGMATIC_REFACTORING_PLAN.md
  docs/tasks/ENG-5-DOD.md
  docs/tech-debt/findings/TD-001.md
  docs/tech-debt/findings/TD-002.md
  docs/tech-debt/findings/TD-003.md
  docs/tech-debt/inventory.csv
Labels: documentation

feat: implement pragmatic testing policy with anti-flakiness strategy
  .github/workflows/test.yml
  apps/api/pytest.ini
  apps/api/requirements-dev.txt
  apps/api/tests/conftest.py
  apps/api/tests/unit/test_validation_service.py
  docs/TESTING_POLICY.md
  docs/adr/005-testing-policy.md
Labels: tests, documentation, ci/cd

test: implement first unit tests following testing policy
  apps/api/src/core/logging_config.py
  apps/api/src/core/pipeline/validation_pipeline.py
  apps/api/src/infrastructure/factories/rule_engine_factory.py
  apps/api/src/services/csv_validation_service.py
  apps/api/src/services/rule_engine_service_refactored.py
  apps/api/tests/conftest.py
  apps/api/tests/unit/test_csv_basic.py
  apps/api/tests/unit/test_simple.py
Labels: tests

feat: implement business rules lifecycle and policy management
  apps/api/policies/MLB/categories/MLB1743.yml
  apps/api/schemas/policy-schema.json
  apps/api/scripts/validate-policies.py
  docs/BUSINESS_RULES_LIFECYCLE.md
Labels: documentation

feat: implement real CSV validation engine with YAML policies
  apps/api/src/services/policy_loader.py
  apps/api/src/services/policy_rule_engine.py
  apps/api/test_real_csv_validation.py
  apps/api/tests/fixtures/csv/edge-cases/celulares_ml_edge.csv
  apps/api/tests/fixtures/csv/invalid/celulares_ml_invalid.csv
  apps/api/tests/fixtures/csv/valid/celulares_ml_valid.csv
  apps/api/tests/integration/test_csv_validation_real.py
  apps/api/tests/integration/test_policy_validation.py
Labels: tests

fix: correct trim validation comparison logic
  apps/api/src/services/policy_rule_engine.py
  apps/api/test_trim_correction_isolated.py
Labels: tests

feat: implement MELI ACL (Anti-Corruption Layer) module
  apps/api/src/adapters/__init__.py
  apps/api/src/adapters/acl_meli/README.md
  apps/api/src/adapters/acl_meli/__init__.py
  apps/api/src/adapters/acl_meli/clients/__init__.py
  apps/api/src/adapters/acl_meli/clients/meli_client.py
  apps/api/src/adapters/acl_meli/errors/__init__.py
  apps/api/src/adapters/acl_meli/errors/meli_error_translator.py
  apps/api/src/adapters/acl_meli/importers/__init__.py
  apps/api/src/adapters/acl_meli/importers/meli_rules_importer.py
  apps/api/src/adapters/acl_meli/mappers/__init__.py
  apps/api/src/adapters/acl_meli/mappers/meli_to_canonical_mapper.py
  apps/api/src/adapters/acl_meli/models/__init__.py
  apps/api/src/adapters/acl_meli/models/canonical_rule.py
  apps/api/src/adapters/acl_meli/models/meli_models.py
  apps/api/src/adapters/acl_meli/tests/__init__.py
  apps/api/src/adapters/acl_meli/tests/fixtures/meli_category_response.json
  apps/api/src/adapters/acl_meli/tests/test_error_translator.py
  apps/api/src/adapters/acl_meli/tests/test_mapper.py
Labels: tests, documentation

fix: address PR review feedback for MELI ACL module
  apps/api/src/adapters/acl_meli/clients/meli_client.py
  apps/api/src/adapters/acl_meli/errors/meli_error_translator.py
  apps/api/src/adapters/acl_meli/importers/meli_rules_importer.py
  apps/api/src/adapters/acl_meli/mappers/meli_to_canonical_mapper.py
  apps/api/src/adapters/acl_meli/models/canonical_rule.py
  apps/api/src/adapters/acl_meli/models/meli_models.py
  apps/api/src/adapters/acl_meli/tests/test_error_translator.py
  apps/api/src/adapters/acl_meli/tests/test_mapper.py
Labels: tests

fix: address additional PR review feedback for MELI ACL
  apps/api/src/adapters/acl_meli/clients/meli_client.py
  apps/api/src/adapters/acl_meli/errors/meli_error_translator.py
  apps/api/src/adapters/acl_meli/importers/meli_rules_importer.py
Labels: none

fix: critical runtime fixes for MELI ACL module
  apps/api/src/adapters/acl_meli/clients/meli_client.py
  apps/api/src/adapters/acl_meli/models/canonical_rule.py
Labels: none

fix: comprehensive validation and async improvements for MELI ACL
  apps/api/src/adapters/acl_meli/errors/meli_error_translator.py
  apps/api/src/adapters/acl_meli/importers/meli_rules_importer.py
  apps/api/src/adapters/acl_meli/models/canonical_rule.py
Labels: none

refactor: implement registry-based validation system
  apps/api/src/adapters/acl_meli/__init__.py
  apps/api/src/adapters/acl_meli/models/canonical_rule.py
  apps/api/src/core/validation/__init__.py
  apps/api/src/core/validation/registry.py
  apps/api/src/core/validation/validators_builtin.py
  apps/api/tests/core/validation/test_registry.py
Labels: tests

fix: remove unused setReportFormat to fix TypeScript error
  apps/web/components/apply-fixes-bar.tsx
Labels: none

.github/labeler.yml:

# Add labels based on file changes
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - 'app/**'
      - 'components/**'
      - 'lib/**'
      - 'hooks/**'
      - 'public/**'
      - '*.tsx'
      - '*.ts'
      - 'package.json'
      - 'next.config.*'

backend:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/**'
      - 'requirements.txt'

database:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/alembic/**'
      - 'backend/src/models/**'
      - '**/migrations/**'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/tests/**'
      - '**/test_*.py'
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/conftest.py'
      - 'jest.config.*'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'Dockerfile'
      - 'docker-compose.yml'
      - '.dockerignore'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'requirements.txt'
      - 'Pipfile'
      - 'Pipfile.lock'
