Repository drapala/validahub-new, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, database, tests, documentation, ci/cd, dependencies

Update apps/api/src/workers/tasks.py
  apps/api/src/workers/tasks.py
Labels: none

Update apps/api/src/api/dependencies/auth.py
  apps/api/src/api/dependencies/auth.py
Labels: none

Update apps/api/src/infrastructure/queue_publisher.py
  apps/api/src/infrastructure/queue_publisher.py
Labels: none

feat(jobs): Async Job Queue System with Celery + Redis (#23)
  apps/api/.env
  apps/api/.env.example
  apps/api/JOBS_README.md
  apps/api/alembic/versions/002_add_telemetry_events_table.py
  apps/api/alembic/versions/0af1331f1df2_add_jobs_and_job_results_tables.py
  apps/api/config/queue_config.yaml
  apps/api/docs/ARCHITECTURE_IMPROVEMENTS.md
  apps/api/schemas/events/job_completed-v1.json
  apps/api/schemas/events/job_failed-v1.json
  apps/api/schemas/events/job_retrying-v1.json
  apps/api/schemas/events/job_started-v1.json
  apps/api/scripts/telemetry_maintenance.py
  apps/api/src/api/dependencies/__init__.py
  apps/api/src/api/dependencies/auth.py
  apps/api/src/api/v1/jobs.py
  apps/api/src/config/queue_config.py
  apps/api/src/core/config.py
  apps/api/src/exceptions.py
  apps/api/src/infrastructure/queue_factory.py
  apps/api/src/infrastructure/queue_publisher.py
  apps/api/src/main.py
  apps/api/src/models/job.py
  apps/api/src/schemas/job.py
  apps/api/src/services/csv_validation_service.py
  apps/api/src/services/job_service.py
  apps/api/src/services/storage_service.py
  apps/api/src/telemetry/emitter.py
  apps/api/src/telemetry/job_telemetry.py
  apps/api/src/telemetry/metrics.py
  apps/api/src/telemetry/schemas/job_events_v1.json
  apps/api/src/workers/celery_app.py
  apps/api/src/workers/schedulers.py
  apps/api/src/workers/tasks.py
  apps/api/tests/fixtures/csv_samples.py
  docs/FEATURE_ROADMAP.md
  docs/IMPLEMENTATION_PLAN.md
  docs/JOB_ARCHITECTURE_REVIEW.md
  reports/hotspots.txt
  reports/tech_stack.txt
  reports/tree_sample.txt
Labels: tests, documentation

fix(CRIT-1): refactor monolithic endpoints to use Clean Architecture
  apps/api/src/api/v1/validation_refactored.py
  apps/api/src/core/use_cases/__init__.py
  apps/api/src/core/use_cases/base.py
  apps/api/src/core/use_cases/correct_csv.py
  apps/api/src/core/use_cases/validate_csv.py
  apps/api/src/core/use_cases/validate_row.py
  apps/api/tests/unit/test_use_cases.py
  docs/architecture/ARCHITECTURE.md
  docs/architecture/CRIT-1-REFACTORING.md
Labels: tests, documentation

fix(CRIT-2): decouple RuleEngineService from filesystem
  apps/api/src/api/v1/validation_refactored.py
  apps/api/src/core/interfaces/rule_engine.py
  apps/api/src/core/use_cases/__init__.py
  apps/api/src/core/use_cases/base.py
  apps/api/src/core/use_cases/validate_csv.py
  apps/api/src/core/use_cases/validate_row.py
  apps/api/src/infrastructure/dependencies.py
  apps/api/src/infrastructure/repositories/ruleset_repository.py
  apps/api/src/services/rule_engine_service_v2.py
  apps/api/tests/unit/test_rule_engine_v2.py
  docs/architecture/CRIT-2-REFACTORING.md
Labels: tests, documentation

fix(CRIT-1): address code review suggestions from Copilot
  apps/api/src/api/v1/validation_refactored.py
  apps/api/src/core/use_cases/validate_csv.py
  apps/api/src/core/use_cases/validate_row.py
Labels: none

fix(MED-1): decouple ValidationPipeline from RuleEngineService
  apps/api/src/core/interfaces/validation.py
  apps/api/src/core/pipeline/validation_pipeline_v2.py
  apps/api/src/infrastructure/pipeline_dependencies.py
  apps/api/src/infrastructure/validators/rule_engine_validator.py
  apps/api/tests/unit/test_pipeline_v2.py
  docs/architecture/MED-1-REFACTORING.md
Labels: tests, documentation

fix: improve error handling in use cases and rule engine adapter
  apps/api/src/api/v1/validation_refactored.py
  apps/api/src/core/use_cases/validate_row.py
  apps/api/src/services/rule_engine_service_v2.py
Labels: none

feat: improve S3 repository implementation with boto3 client
  apps/api/src/infrastructure/repositories/ruleset_repository.py
Labels: none

feat: add database repository placeholder and improve pipeline signature
  apps/api/src/core/pipeline/validation_pipeline.py
  apps/api/src/core/utils.py
  apps/api/src/infrastructure/repositories/ruleset_repository.py
Labels: none

fix: improve boto3 executor usage with lambdas
  apps/api/src/core/use_cases/correct_csv.py
  apps/api/src/infrastructure/dependencies.py
  apps/api/src/infrastructure/repositories/ruleset_repository.py
  apps/api/src/services/rule_engine_service_v2.py
Labels: none

fix: improve exception handling in S3 repository
  apps/api/src/api/v1/validation.py
  apps/api/src/infrastructure/repositories/ruleset_repository.py
Labels: none

fix: improve error handling for file operations
  apps/api/src/api/v1/validation.py
Labels: none

refactor(CRIT-1): improve code quality based on additional Copilot feedback
  apps/api/src/api/v1/validation_refactored.py
  apps/api/src/core/pipeline/validation_pipeline.py
  apps/api/src/core/use_cases/correct_csv.py
  apps/api/src/core/use_cases/validate_csv.py
  apps/api/src/core/utils.py
Labels: none

fix: remove hardcoded domain from error type URIs
  apps/api/src/api/v1/validation.py
  apps/api/src/api/v1/validation_refactored.py
  apps/api/src/schemas/errors.py
Labels: none

refactor: address additional Copilot feedback
  apps/api/src/api/v1/validation_refactored.py
  apps/api/src/core/use_cases/correct_csv.py
  apps/api/src/core/use_cases/validate_csv.py
  apps/api/src/core/utils.py
  apps/api/src/infrastructure/validators/rule_engine_validator_improved.py
Labels: none

refactor: integrate improved validator with Copilot suggestions
  apps/api/src/infrastructure/validators/__init__.py
  apps/api/src/infrastructure/validators/rule_engine_validator.py
Labels: none

fix: improve file handling robustness
  apps/api/src/api/v1/validation.py
  apps/api/src/api/v1/validation_refactored.py
Labels: none

docs: clarify memory constraints and future improvements
  apps/api/src/api/v1/validation_refactored.py
Labels: none

docs: move chunked CSV processing TODO to backlog
  BACKLOG.md
  apps/api/src/api/v1/validation_refactored.py
Labels: documentation

refactor: use keyword arguments for method calls
  apps/api/src/infrastructure/validators/rule_engine_validator.py
Labels: none

Update apps/api/src/api/v1/validation_refactored.py
  apps/api/src/api/v1/validation_refactored.py
Labels: none

fix(CRIT-1): Refactor monolithic endpoints to Clean Architecture (#24)
  BACKLOG.md
  apps/api/src/api/v1/validation.py
  apps/api/src/api/v1/validation_refactored.py
  apps/api/src/core/pipeline/validation_pipeline.py
  apps/api/src/core/use_cases/__init__.py
  apps/api/src/core/use_cases/base.py
  apps/api/src/core/use_cases/correct_csv.py
  apps/api/src/core/use_cases/validate_csv.py
  apps/api/src/core/use_cases/validate_row.py
  apps/api/src/core/utils.py
  apps/api/src/infrastructure/validators/__init__.py
  apps/api/src/infrastructure/validators/rule_engine_validator.py
  apps/api/src/schemas/errors.py
  apps/api/tests/unit/test_use_cases.py
  docs/architecture/ARCHITECTURE.md
  docs/architecture/CRIT-1-REFACTORING.md
Labels: tests, documentation

fix: address Copilot feedback on validator merge strategy and filename handling
  apps/api/src/api/v1/validation_refactored.py
  apps/api/src/infrastructure/validators/rule_engine_validator.py
Labels: none

fix: add missing newlines at end of files
  apps/api/src/api/v1/validation_refactored.py
  apps/api/src/infrastructure/validators/rule_engine_validator.py
Labels: none

fix: address Copilot AI feedback on code quality (#27)
  apps/api/src/api/v1/validation_refactored.py
  apps/api/src/infrastructure/validators/rule_engine_validator.py
Labels: none

feat(MED-1): complete decoupling of ValidationPipeline from RuleEngineService
  apps/api/src/api/v1/validation_refactored.py
  apps/api/src/core/interfaces/validation.py
  apps/api/src/core/pipeline/validation_pipeline_decoupled.py
  apps/api/src/core/use_cases/correct_csv.py
  apps/api/src/core/use_cases/validate_csv.py
  apps/api/src/core/use_cases/validate_row.py
Labels: none

fix: add missing Tuple import in validation_pipeline_decoupled.py
  apps/api/src/core/pipeline/validation_pipeline_decoupled.py
Labels: none

refactor: break down RuleEngineService God object (MED-2)
  apps/api/src/core/pipeline/validation_pipeline_decoupled_optimized.py
  apps/api/src/core/use_cases/correct_csv.py
  apps/api/src/core/use_cases/validate_csv.py
  apps/api/src/core/use_cases/validate_row.py
  apps/api/src/infrastructure/factories/__init__.py
  apps/api/src/infrastructure/factories/rule_engine_factory.py
  apps/api/src/infrastructure/loaders/__init__.py
  apps/api/src/infrastructure/loaders/rule_loader.py
  apps/api/src/infrastructure/mappers/__init__.py
  apps/api/src/infrastructure/mappers/result_mapper.py
  apps/api/src/services/rule_engine_service.py
  apps/api/src/services/rule_engine_service_adapter.py
  apps/api/src/services/rule_engine_service_refactored.py
Labels: none

fix: address Copilot AI suggestions for MED-2 refactoring
  apps/api/src/infrastructure/factories/rule_engine_factory.py
  apps/api/src/infrastructure/loaders/rule_loader.py
  apps/api/src/services/rule_engine_service_adapter.py
Labels: none

refactor: move imports to module level per Copilot suggestions
  apps/api/src/infrastructure/factories/rule_engine_factory.py
  apps/api/src/infrastructure/loaders/rule_loader.py
  apps/api/src/services/rule_engine_service_adapter.py
Labels: none

feat(MED-1): Complete decoupling of ValidationPipeline from RuleEngineService (#28)
  apps/api/src/api/v1/validation_refactored.py
  apps/api/src/core/interfaces/validation.py
  apps/api/src/core/pipeline/validation_pipeline_decoupled.py
  apps/api/src/core/pipeline/validation_pipeline_decoupled_optimized.py
  apps/api/src/core/use_cases/correct_csv.py
  apps/api/src/core/use_cases/validate_csv.py
  apps/api/src/core/use_cases/validate_row.py
  apps/api/src/infrastructure/factories/__init__.py
  apps/api/src/infrastructure/factories/rule_engine_factory.py
  apps/api/src/infrastructure/loaders/__init__.py
  apps/api/src/infrastructure/loaders/rule_loader.py
  apps/api/src/infrastructure/mappers/__init__.py
  apps/api/src/infrastructure/mappers/result_mapper.py
  apps/api/src/services/rule_engine_service.py
  apps/api/src/services/rule_engine_service_adapter.py
  apps/api/src/services/rule_engine_service_refactored.py
Labels: none

feat: add IJobService interface and documentation (MED-3)
  apps/api/docs/JOB_SYSTEM.md
  apps/api/src/api/dependencies/job_service.py
  apps/api/src/core/interfaces/job_service.py
  apps/api/src/services/job_service_adapter.py
Labels: documentation

feat: add IJobService interface and documentation
  apps/api/docs/JOB_SYSTEM.md
  apps/api/src/api/dependencies/job_service.py
  apps/api/src/core/interfaces/job_service.py
  apps/api/src/services/job_service_adapter.py
Labels: documentation

refactor: break down JobService following SOLID principles
  apps/api/docs/ADAPTER_PATTERN.md
  apps/api/src/api/dependencies/job_service.py
  apps/api/src/core/result.py
  apps/api/src/core/validators/job_validator.py
  apps/api/src/infrastructure/repositories/job_repository.py
  apps/api/src/services/job_creation_service.py
  apps/api/src/services/job_query_service.py
  apps/api/src/services/job_service_adapter.py
Labels: documentation

fix: address Copilot suggestions for code quality
  apps/api/src/core/validators/job_validator.py
  apps/api/src/infrastructure/repositories/job_repository.py
  apps/api/src/services/job_query_service.py
Labels: none

fix: address Copilot AI code quality suggestions
  apps/api/src/core/validators/job_validator.py
  apps/api/src/infrastructure/repositories/job_repository.py
  apps/api/src/services/job_creation_service.py
  apps/api/src/services/job_query_service.py
Labels: none

fix: address additional Copilot AI suggestions
  apps/api/src/api/dependencies/job_service.py
  apps/api/src/core/config.py
  apps/api/src/core/result.py
  apps/api/src/core/validators/job_validator.py
  apps/api/src/infrastructure/repositories/job_repository.py
  apps/api/src/services/job_creation_service.py
  apps/api/src/services/job_query_service.py
Labels: none

docs: add comprehensive Marketing & GTM backlog
  docs/planning/MARKETING_GTM_BACKLOG.md
Labels: documentation

.github/labeler.yml:

# Add labels based on file changes
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - 'app/**'
      - 'components/**'
      - 'lib/**'
      - 'hooks/**'
      - 'public/**'
      - '*.tsx'
      - '*.ts'
      - 'package.json'
      - 'next.config.*'

backend:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/**'
      - 'requirements.txt'

database:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/alembic/**'
      - 'backend/src/models/**'
      - '**/migrations/**'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/tests/**'
      - '**/test_*.py'
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/conftest.py'
      - 'jest.config.*'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'Dockerfile'
      - 'docker-compose.yml'
      - '.dockerignore'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'requirements.txt'
      - 'Pipfile'
      - 'Pipfile.lock'
