Repository drapala/validahub-new, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, database, tests, documentation, ci/cd, dependencies

.github/labeler.yml:

# Add labels based on file changes
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - 'app/**'
      - 'components/**'
      - 'lib/**'
      - 'hooks/**'
      - 'public/**'
      - '*.tsx'
      - '*.ts'
      - 'package.json'
      - 'next.config.*'

backend:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/**'
      - 'requirements.txt'

database:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/alembic/**'
      - 'backend/src/models/**'
      - '**/migrations/**'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/tests/**'
      - '**/test_*.py'
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/conftest.py'
      - 'jest.config.*'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'Dockerfile'
      - 'docker-compose.yml'
      - '.dockerignore'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'requirements.txt'
      - 'Pipfile'
      - 'Pipfile.lock'

feat: add marketplace provider registry (#8)
  apps/api/src/rules/registry.py
  apps/api/src/services/validator.py
  apps/api/tests/test_validate.py
Labels: tests

fix(api): resolve import errors and refactor validator
  apps/api/src/core/pipeline/validation_pipeline.py
  apps/api/src/services/corrector_v2.py
  apps/api/src/services/validator.py
Labels: none

Update apps/api/src/core/pipeline/correction_pipeline.py
  apps/api/src/core/pipeline/correction_pipeline.py
Labels: none

Update apps/api/src/core/pipeline/validation_pipeline.py
  apps/api/src/core/pipeline/validation_pipeline.py
Labels: none

Update apps/api/src/core/pipeline/validation_pipeline.py
  apps/api/src/core/pipeline/validation_pipeline.py
Labels: none

fix(api): resolve runtime errors in pipeline modules
  apps/api/src/core/pipeline/correction_pipeline.py
  apps/api/src/core/pipeline/validation_pipeline.py
Labels: none

refactor(api): improve type safety and code quality
  apps/api/src/core/pipeline/correction_pipeline.py
  apps/api/src/services/corrector_v2.py
Labels: none

fix(api): align exception handling consistency across services
  apps/api/src/core/pipeline/correction_pipeline.py
Labels: none

feat: add validation and correction pipelines (#7)
  apps/api/src/core/pipeline/__init__.py
  apps/api/src/core/pipeline/correction_pipeline.py
  apps/api/src/core/pipeline/validation_pipeline.py
  apps/api/src/services/corrector_v2.py
  apps/api/src/services/validator.py
  apps/api/tests/test_pipelines.py
Labels: tests

feat: add validation and correction pipelines (#7)
  apps/api/src/core/pipeline/__init__.py
  apps/api/src/core/pipeline/correction_pipeline.py
  apps/api/src/core/pipeline/validation_pipeline.py
  apps/api/src/services/corrector_v2.py
  apps/api/src/services/validator.py
  apps/api/tests/test_pipelines.py
Labels: tests

feat(testing): add golden test architecture for pipeline validation
  .github/workflows/ci-golden.yml
  BRANCHLESS_REFACTORING_PLAN.md
  Makefile
  PRAGMATIC_REFACTORING_PLAN.md
  docs/testing/golden-tests.md
  tests/golden/comparators.py
  tests/golden/config_schema.py
  tests/golden/conftest.py
  tests/golden/golden_runner.py
  tests/golden/mercado_livre/eletronicos/case_001/config.yaml
  tests/golden/mercado_livre/eletronicos/case_001/expected_output.csv
  tests/golden/mercado_livre/eletronicos/case_001/expected_report.json
  tests/golden/mercado_livre/eletronicos/case_001/input.csv
  tests/golden/normalizers.py
  tests/golden/shopee/moda/case_001/config.yaml
  tests/golden/shopee/moda/case_001/expected_output.csv
  tests/golden/shopee/moda/case_001/expected_report.json
  tests/golden/shopee/moda/case_001/input.csv
  tests/golden/test_golden.py
  tests/golden/update_goldens.py
Labels: tests, documentation, ci/cd

fix(ci): update GitHub Actions to v4 to avoid deprecation
  .github/workflows/ci-golden.yml
Labels: ci/cd

ci(golden): add workflow and make targets for golden tests
  .github/workflows/ci-golden.yml
  Makefile
Labels: ci/cd

ci(golden): add workflow and make targets for golden tests (#10)
  .github/workflows/ci-golden.yml
  Makefile
Labels: ci/cd

ci(golden): add workflow and make targets for golden tests (#10)
  .github/workflows/ci-golden.yml
  Makefile
Labels: ci/cd

feat(golden): add core framework components
  tests/golden/comparators.py
  tests/golden/config_schema.py
  tests/golden/normalizers.py
Labels: tests

feat(golden): add core framework components (#11)
  tests/golden/comparators.py
  tests/golden/config_schema.py
  tests/golden/normalizers.py
Labels: tests

feat(golden): add core framework components (#11)
  tests/golden/comparators.py
  tests/golden/config_schema.py
  tests/golden/normalizers.py
Labels: tests

test(golden): add runner and update utility
  tests/golden/golden_runner.py
  tests/golden/update_goldens.py
Labels: tests

test(golden): add runner and update utility (#12)
  tests/golden/golden_runner.py
  tests/golden/update_goldens.py
Labels: tests

test(golden): add runner and update utility (#12)
  tests/golden/golden_runner.py
  tests/golden/update_goldens.py
Labels: tests

test(golden): add pytest integration
  tests/golden/conftest.py
  tests/golden/test_golden.py
Labels: tests

test(golden): add pytest integration (#13)
  tests/golden/conftest.py
  tests/golden/test_golden.py
Labels: tests

test(golden): add pytest integration (#13)
  tests/golden/conftest.py
  tests/golden/test_golden.py
Labels: tests

test(golden): add initial test cases
  tests/golden/mercado_livre/eletronicos/case_001/config.yaml
  tests/golden/mercado_livre/eletronicos/case_001/expected_output.csv
  tests/golden/mercado_livre/eletronicos/case_001/expected_report.json
  tests/golden/mercado_livre/eletronicos/case_001/input.csv
  tests/golden/shopee/moda/case_001/config.yaml
  tests/golden/shopee/moda/case_001/expected_output.csv
  tests/golden/shopee/moda/case_001/expected_report.json
  tests/golden/shopee/moda/case_001/input.csv
Labels: tests

test(golden): add initial test cases (#14)
  tests/golden/mercado_livre/eletronicos/case_001/config.yaml
  tests/golden/mercado_livre/eletronicos/case_001/expected_output.csv
  tests/golden/mercado_livre/eletronicos/case_001/expected_report.json
  tests/golden/mercado_livre/eletronicos/case_001/input.csv
  tests/golden/shopee/moda/case_001/config.yaml
  tests/golden/shopee/moda/case_001/expected_output.csv
  tests/golden/shopee/moda/case_001/expected_report.json
  tests/golden/shopee/moda/case_001/input.csv
Labels: tests

test(golden): add initial test cases (#14)
  tests/golden/mercado_livre/eletronicos/case_001/config.yaml
  tests/golden/mercado_livre/eletronicos/case_001/expected_output.csv
  tests/golden/mercado_livre/eletronicos/case_001/expected_report.json
  tests/golden/mercado_livre/eletronicos/case_001/input.csv
  tests/golden/shopee/moda/case_001/config.yaml
  tests/golden/shopee/moda/case_001/expected_output.csv
  tests/golden/shopee/moda/case_001/expected_report.json
  tests/golden/shopee/moda/case_001/input.csv
Labels: tests

docs(golden): add comprehensive documentation
  BRANCHLESS_REFACTORING_PLAN.md
  PRAGMATIC_REFACTORING_PLAN.md
  docs/testing/golden-tests.md
Labels: documentation

docs(golden): add comprehensive documentation (#15)
  BRANCHLESS_REFACTORING_PLAN.md
  PRAGMATIC_REFACTORING_PLAN.md
  docs/testing/golden-tests.md
Labels: documentation

docs: update README with current roadmap and golden tests
  README.md
Labels: documentation

fix(ci): update CodeQL action from v2 to v3
  .github/workflows/ci.yml
Labels: ci/cd

docs: reorganize backlog with PostgreSQL as current sprint
  BACKLOG.md
Labels: documentation

feat(db): add PostgreSQL and Redis setup with Docker Compose
  .env.example
  apps/api/src/config.py
  docker-compose.yml
  docs/database-setup.md
  scripts/db.sh
  scripts/init.sql
Labels: documentation, ci/cd

docs: reorganize project structure and update README
  .gitignore
  PROJECT_STRUCTURE.md
  README.md
  docker-compose.yml
  docs/architecture/API_AUDIT.md
  docs/architecture/ARCHITECTURE.md
  docs/planning/BRANCHLESS_REFACTORING_PLAN.md
  docs/planning/PRAGMATIC_REFACTORING_PLAN.md
Labels: documentation, ci/cd

feat(db): add seed data system for fresh installations
  README.md
  apps/api/alembic/versions/001_initial_data.py
  apps/api/scripts/seed.py
  scripts/db.sh
  scripts/demo_data.sql
Labels: documentation

feat: implement rule engine scaffolding with DSL v1
  .github/workflows/affected.yml
  BACKLOG.md
  Makefile
  README.md
  docker-compose.yml
  docs/adr/001-cqrs-architecture.md
  docs/adr/002-dsl-v1-primitives.md
  docs/adr/README.md
  docs/adr/template.md
  docs/architecture/cqrs-strategy.md
  docs/database-setup.md
  libs/rule_engine/__init__.py
  libs/rule_engine/core.py
  libs/rule_engine/dsl.py
  libs/rule_engine/engine.py
  libs/rule_engine/setup.py
  rulesets/base/mappings.yml
  rulesets/base/rules.yml
  tests/golden/__init__.py
  tests/golden/expected/test_basic.json
  tests/golden/inputs/test_basic.json
  tests/golden/test_engine.py
  tools/inventory.py
  tools/services.json
Labels: tests, documentation, ci/cd

docs: add Python venv setup instructions
  .gitignore
  README.md
Labels: documentation

feat: add backend startup automation scripts
  README.md
  apps/api/pyproject.toml
  apps/api/scripts/check_deps.py
  scripts/start-backend.sh
Labels: documentation

feat: integrate YAML-based rule engine and remove legacy validation system
  apps/api/IMPROVEMENTS.md
  apps/api/README.md
  apps/api/examples/api_usage.md
  apps/api/pyproject.toml
  apps/api/src/api/v1/__init__.py
  apps/api/src/api/v1/health.py
  apps/api/src/api/v1/jobs.py
  apps/api/src/api/v1/responses.py
  apps/api/src/api/v1/validation.py
  apps/api/src/api/validate.py
  apps/api/src/core/engines/rule_engine.py
  apps/api/src/core/enums.py
  apps/api/src/core/pipeline/validation_pipeline.py
  apps/api/src/main.py
  apps/api/src/middleware/__init__.py
  apps/api/src/middleware/correlation.py
  apps/api/src/rules/marketplaces/__init__.py
  apps/api/src/rules/marketplaces/amazon/__init__.py
  apps/api/src/rules/marketplaces/amazon/provider.py
  apps/api/src/rules/marketplaces/mercado_livre/__init__.py
  apps/api/src/rules/marketplaces/mercado_livre/provider.py
  apps/api/src/rules/marketplaces/shopee/__init__.py
  apps/api/src/rules/marketplaces/shopee/provider.py
  apps/api/src/rules/registry.py
  apps/api/src/schemas/errors.py
  apps/api/src/schemas/validate.py
  apps/api/src/services/corrector.py
  apps/api/src/services/corrector_v2.py
  apps/api/src/services/rule_engine_service.py
  apps/api/src/services/validator.py
  apps/api/tests/integration/test_validation_endpoint.py
  apps/api/tests/unit/test_rule_engine_service.py
  docs/tasks/ENG-5-DOD.md
  rulesets/default.yaml
  rulesets/mercadolivre.yaml
Labels: tests, documentation

feat: improve validation system with better error handling and reporting
  apps/api/src/api/v1/validation.py
  apps/api/src/config.py
  apps/api/src/services/rule_engine_service.py
  apps/web/app/(app)/validate-row/page.tsx
  apps/web/components/app-shell.tsx
  apps/web/components/apply-fixes-bar.tsx
  apps/web/components/result-summary.tsx
  apps/web/components/results-table.tsx
  apps/web/components/ui/alert.tsx
  apps/web/components/ui/badge.tsx
  apps/web/components/ui/card.tsx
  apps/web/components/ui/label.tsx
  apps/web/components/ui/switch.tsx
  apps/web/lib/api.ts
  apps/web/package.json
  libs/rule_engine/engine.py
  pnpm-lock.yaml
  rulesets/default.yaml
Labels: none
