Repository drapala/validahub-new, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, database, tests, documentation, ci/cd, dependencies

feat: add DataFrame adapter interface and utils
  apps/api/src/core/interfaces/__init__.py
  apps/api/src/core/interfaces/dataframe_adapter.py
  apps/api/src/core/use_cases/correct_csv.py
  apps/api/src/core/use_cases/validate_csv.py
  apps/api/src/core/utils.py
  apps/api/src/infrastructure/dataframe_utils.py
Labels: none

fix: correct DataFrameUtils imports after PR merges
  apps/api/src/core/use_cases/correct_csv.py
  apps/api/src/core/use_cases/validate_csv.py
  apps/web/app/(public)/auth/signup/page.tsx
  apps/web/app/api/auth/[...nextauth]/route.ts
  apps/web/app/api/auth/login/route.ts
  apps/web/app/api/auth/logout/route.ts
  apps/web/app/api/auth/register/route.ts
  apps/web/app/api/auth/verify/route.ts
  apps/web/components/app-shell.tsx
  apps/web/components/providers.tsx
  apps/web/next.config.mjs
  apps/web/src/auth/adapters/api/auth-api-adapter.ts
  apps/web/src/auth/adapters/nextauth/nextauth-adapter.ts
  apps/web/src/auth/adapters/services/bcrypt-password-service.ts
  apps/web/src/auth/adapters/services/jose-token-service.ts
  apps/web/src/auth/adapters/storage/memory-repositories.ts
  apps/web/src/auth/adapters/storage/memory-session-storage.ts
  apps/web/src/auth/core/entities/credential.ts
  apps/web/src/auth/core/entities/session.ts
  apps/web/src/auth/core/entities/user.ts
  apps/web/src/auth/core/errors/auth-errors.ts
  apps/web/src/auth/core/ports/credential-repository.ts
  apps/web/src/auth/core/ports/password-service.ts
  apps/web/src/auth/core/ports/session-repository.ts
  apps/web/src/auth/core/ports/session-storage.ts
  apps/web/src/auth/core/ports/token-service.ts
  apps/web/src/auth/core/ports/user-repository.ts
  apps/web/src/auth/core/usecases/login-with-email.ts
  apps/web/src/auth/core/usecases/login-with-oauth.ts
  apps/web/src/auth/core/usecases/logout.ts
  apps/web/src/auth/core/usecases/register-with-email.ts
  apps/web/src/auth/core/usecases/verify-session.ts
  apps/web/src/auth/infrastructure/auth-container.ts
  apps/web/src/auth/ui/components/auth-navbar.tsx
  apps/web/src/auth/ui/components/login-form.tsx
  apps/web/src/auth/ui/components/oauth-button.tsx
  apps/web/src/auth/ui/components/signup-form.tsx
  apps/web/src/auth/ui/providers/auth-provider.tsx
Labels: none

fix: remove pandas/numpy from core layer (DIP compliance)
  apps/api/docs/LEARNING.md
  apps/api/src/api/dependencies/tabular_adapter.py
  apps/api/src/core/ports/__init__.py
  apps/api/src/core/ports/tabular_data_port.py
  apps/api/src/core/use_cases/correct_csv.py
  apps/api/src/core/use_cases/validate_csv.py
  apps/api/src/core/utils.py
  apps/api/src/infrastructure/adapters/pandas_adapter.py
  apps/api/tests/unit/test_pandas_adapter.py
  apps/web/src/auth/infrastructure/auth-container-mock.ts
  apps/web/src/auth/infrastructure/auth-container.ts
Labels: tests, documentation

fix: add missing auth dependencies to web package.json
  apps/web/package.json
Labels: none

fix: integra UserNav com NextAuth no AppShell para mostrar perfil do usuário autenticado
  apps/web/.env.example
  apps/web/components/app-shell.tsx
  apps/web/components/user-nav.tsx
Labels: none

feat: implementa fundações do Design System com shadcn/ui e arquitetura clean
  apps/web/.eslintrc.js
  apps/web/.eslintrc.json
  apps/web/ARCHITECTURE.md
  apps/web/app/globals.css
  apps/web/components/internal/shadcn/accordion.tsx
  apps/web/components/internal/shadcn/badge.tsx
  apps/web/components/internal/shadcn/button.tsx
  apps/web/components/internal/shadcn/card.tsx
  apps/web/components/internal/shadcn/checkbox.tsx
  apps/web/components/internal/shadcn/dialog.tsx
  apps/web/components/internal/shadcn/dropdown-menu.tsx
  apps/web/components/internal/shadcn/form.tsx
  apps/web/components/internal/shadcn/input.tsx
  apps/web/components/internal/shadcn/label.tsx
  apps/web/components/internal/shadcn/navigation-menu.tsx
  apps/web/components/internal/shadcn/select.tsx
  apps/web/components/internal/shadcn/sheet.tsx
  apps/web/components/internal/shadcn/skeleton.tsx
  apps/web/components/internal/shadcn/switch.tsx
  apps/web/components/internal/shadcn/table.tsx
  apps/web/components/internal/shadcn/tabs.tsx
  apps/web/components/internal/shadcn/textarea.tsx
  apps/web/components/internal/shadcn/toast.tsx
  apps/web/components/internal/shadcn/toaster.tsx
  apps/web/components/ui/button.tsx
  apps/web/components/ui/card.tsx
  apps/web/components/ui/input.tsx
  apps/web/core/adapters/auth/nextauth.adapter.ts
  apps/web/core/ports/auth.port.ts
  apps/web/core/usecases/auth/login.usecase.ts
  apps/web/lib/design-system/tokens.ts
  apps/web/package.json
  apps/web/tailwind.config.ts
  pnpm-lock.yaml
Labels: documentation

feat: melhorias na landing page e lead capture
  apps/web/app/(marketing)/page.tsx
  apps/web/components/roi-calculator-with-lead.tsx
  apps/web/components/ui/DataProof.tsx
  apps/web/components/ui/Navbar.tsx
  apps/web/components/ui/SocialProof.tsx
  apps/web/components/ui/table.tsx
  apps/web/package.json
  pnpm-lock.yaml
Labels: none

feat: melhorias visuais no carrossel e componente CSV
  apps/web/components/ui/DataProof.tsx
  apps/web/components/ui/SocialProof.tsx
  apps/web/public/logos/Logo-Americanas-Png.png
  apps/web/public/logos/Lojas_Americanas_Logo.svg
  apps/web/public/logos/amazon.png
  apps/web/public/logos/magalu.png
  apps/web/public/logos/mercadolivre.png
  apps/web/public/logos/ponto.png
  apps/web/public/logos/shopee.png
  apps/web/public/logos/submarino.png
  apps/web/public/logos/via.png
  logos/Lojas_Americanas_Logo.svg
  logos/amazon.png
  logos/magalu.png
  logos/mercadolivre.png
  logos/ponto.png
  logos/shopee.png
  logos/submarino.png
  logos/via png.png
Labels: none

feat: melhorias na UX da landing page e navegação
  apps/web/app/(marketing)/faq/page.tsx
  apps/web/components/ui/DataProof.tsx
  apps/web/components/ui/Hero.tsx
  apps/web/components/ui/Navbar.tsx
  apps/web/lib/navigation.ts
Labels: none

fix: corrige build para deploy na Vercel
  apps/web/app/api/auth/[...nextauth]/route.ts
  apps/web/next.config.mjs
  apps/web/package.json
  pnpm-lock.yaml
Labels: none

fix: corrige build para deploy na Vercel
  apps/web/app/api/auth/[...nextauth]/route.ts
  apps/web/next.config.mjs
  apps/web/package.json
  pnpm-lock.yaml
Labels: none

fix: handle missing environment variables during build time
  apps/web/lib/env.ts
Labels: none

fix: add force-dynamic to pages using API to prevent static generation errors
  apps/web/PERFORMANCE_OPTIMIZATION.md
  apps/web/app/(app)/upload/page.tsx
  apps/web/app/(app)/validate-row/page.tsx
  apps/web/app/(marketing)/LazyComponentsPerformance.tsx
  apps/web/app/(marketing)/LazyContent.tsx
  apps/web/app/(marketing)/page-optimized.tsx
  apps/web/app/(marketing)/page-performance.tsx
  apps/web/app/(marketing)/page-ultra.tsx
  apps/web/app/(marketing)/status/page.tsx
  apps/web/components/ui/CookieConsent.tsx
  apps/web/components/ui/DataProofLite.tsx
  apps/web/components/ui/FeaturesAccordion.tsx
  apps/web/components/ui/HeroOptimized.tsx
  apps/web/components/ui/HeroPerformance.tsx
  apps/web/components/ui/HeroUltra.tsx
  apps/web/components/ui/ScrollSnapNavigation.tsx
  apps/web/components/ui/SocialProofCondensed.tsx
  apps/web/components/ui/SocialProofConsolidated.tsx
  apps/web/components/ui/StickyPromoBar.tsx
  apps/web/components/ui/WhatsAppFloat.tsx
  apps/web/hooks/useInViewport.ts
  apps/web/lib/scroll-smart.ts
  apps/web/lib/scroll.ts
  apps/web/next.config.performance.js
Labels: documentation

fix: restore working version from PR #57 with middleware disabled
  apps/web/middleware.disabled.ts
Labels: none

backup: estado funcional da landing page sem carrossel - 27/08 14:50
  apps/web/app/(marketing)/page.tsx
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/app/not-found.tsx
  apps/web/components/roi-calculator-with-lead.tsx
  apps/web/components/ui/CTA.tsx
  apps/web/components/ui/ERPComparison.tsx
  apps/web/components/ui/Features.tsx
  apps/web/components/ui/Footer.tsx
  apps/web/components/ui/Pricing.tsx
  apps/web/components/ui/SmoothScrollSimple.tsx
  apps/web/components/ui/SocialProof.tsx
  apps/web/components/ui/button.tsx
  apps/web/components/ui/smooth-scroll-simple.css
Labels: none

feat: implementa design system premium com temas claro/escuro refinados
  apps/web/app/(marketing)/layout.tsx
  apps/web/app/(marketing)/page.tsx
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/components/providers.tsx
  apps/web/components/roi-calculator-with-lead.tsx
  apps/web/components/ui/BreadcrumbPremium.tsx
  apps/web/components/ui/CookieBanner.tsx
  apps/web/components/ui/DataProof.tsx
  apps/web/components/ui/Features.tsx
  apps/web/components/ui/Footer.tsx
  apps/web/components/ui/Hero.tsx
  apps/web/components/ui/HeroMinimal.tsx
  apps/web/components/ui/HeroSplit.tsx
  apps/web/components/ui/NavbarPremium.tsx
  apps/web/components/ui/NavbarRefined.tsx
  apps/web/components/ui/PainGainVisualization.tsx
  apps/web/components/ui/Pricing.tsx
  apps/web/components/ui/ProgressRail.tsx
  apps/web/components/ui/SectionEnterprise.tsx
  apps/web/components/ui/SmoothScrollSimple.tsx
  apps/web/components/ui/SocialProof.tsx
  apps/web/components/ui/StickyPromoBar.tsx
  apps/web/components/ui/ThemeToggle.tsx
  apps/web/components/ui/WhatsAppFloat.tsx
  apps/web/components/ui/WhatsAppFloatPremium.tsx
  apps/web/components/ui/smooth-scroll-simple.css
  apps/web/lib/theme-tokens.ts
  logos/Logo-Americanas-Png.png
Labels: none

fix: add minimal vercel.json for deployment
  vercel.json
Labels: none

fix: remove invalid rootDirectory from vercel.json
  vercel.json
Labels: none

fix: update build command and add env example
  apps/web/.env.example
  vercel.json
Labels: none

fix: move vercel.json to apps/web directory
  apps/web/vercel.json
  vercel.json
Labels: none

fix: force pnpm install in vercel.json
  apps/web/vercel.json
Labels: none

fix: critical Vercel deployment issues
  apps/web/components/roi-calculator-with-lead.tsx
  apps/web/tailwind.config.ts
Labels: none

fix: implement proper CSP with dynamic nonce generation
  apps/web/app/layout.tsx
  apps/web/middleware.ts
  apps/web/next.config.mjs
Labels: none

docs: add prominent live demo link for recruiters
  README.md
Labels: documentation

feat: enhance footer with real company legal information
  apps/web/components/ui/Footer.tsx
Labels: none

fix: simplifica footer removendo seções desnecessárias
  apps/web/components/ui/Footer.tsx
Labels: none

refactor: limpa monorepo TurboRepo + pnpm padrão
  .env.local
  package-lock.json
  package.json
  packages/tsconfig/base.json
  turbo.json
Labels: frontend, dependencies

style: ajusta cores do tema para consistência visual
  apps/web/components/ui/Footer.tsx
  apps/web/components/ui/ThemeToggle.tsx
  apps/web/components/ui/WhatsAppFloatPremium.tsx
Labels: none

fix: melhora UX e alinhamento visual dos componentes
  apps/web/components/roi-calculator-with-lead.tsx
  apps/web/components/ui/DataProof.tsx
  apps/web/components/ui/Footer.tsx
  apps/web/components/ui/Pricing.tsx
  apps/web/components/ui/WhatsAppFloatPremium.tsx
Labels: none

feat: implementa backend funcional com endpoints de Jobs
  apps/api/alembic/versions/734c925959ed_add_jobs_and_job_items_tables.py
  apps/api/src/main.py
  apps/api/src/models/__init__.py
  apps/api/src/models/job.py
  apps/api/src/routers/jobs.py
  apps/api/src/schemas/job.py
  apps/api/src/services/job_service.py
Labels: none

fix: corrige autenticação e navegação entre landing page e B2B dashboard
  apps/api/src/infrastructure/repositories/job_repository.py
  apps/api/src/routers/jobs.py
  apps/api/src/services/job_query_service.py
  apps/api/src/services/job_status_sync_service.py
  apps/web/components/ui/NavbarPremium.tsx
  apps/web/components/ui/NavbarRefined.tsx
Labels: none

.github/labeler.yml:

# Add labels based on file changes
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - 'app/**'
      - 'components/**'
      - 'lib/**'
      - 'hooks/**'
      - 'public/**'
      - '*.tsx'
      - '*.ts'
      - 'package.json'
      - 'next.config.*'

backend:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/**'
      - 'requirements.txt'

database:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/alembic/**'
      - 'backend/src/models/**'
      - '**/migrations/**'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/tests/**'
      - '**/test_*.py'
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/conftest.py'
      - 'jest.config.*'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'Dockerfile'
      - 'docker-compose.yml'
      - '.dockerignore'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'requirements.txt'
      - 'Pipfile'
      - 'Pipfile.lock'
