Repository drapala/validahub-new, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, database, tests, documentation, ci/cd, dependencies

.github/labeler.yml:

# Add labels based on file changes
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - 'app/**'
      - 'components/**'
      - 'lib/**'
      - 'hooks/**'
      - 'public/**'
      - '*.tsx'
      - '*.ts'
      - 'package.json'
      - 'next.config.*'

backend:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/**'
      - 'requirements.txt'

database:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/alembic/**'
      - 'backend/src/models/**'
      - '**/migrations/**'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/tests/**'
      - '**/test_*.py'
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/conftest.py'
      - 'jest.config.*'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'Dockerfile'
      - 'docker-compose.yml'
      - '.dockerignore'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'requirements.txt'
      - 'Pipfile'
      - 'Pipfile.lock'

fix: address 5 critical code review findings
  apps/api/src/adapters/acl_meli/clients/meli_client.py
  apps/api/src/adapters/acl_meli/importers/meli_rules_importer.py
  apps/api/src/adapters/acl_meli/mappers/meli_to_canonical_mapper.py
  apps/api/src/adapters/acl_meli/models/canonical_rule.py
  apps/api/src/core/result.py
  apps/api/src/core/validation/registry.py
  apps/api/src/core/validation/validators_builtin.py
Labels: none

fix: resolve relative import errors causing test failures
  apps/api/src/core/interfaces/validation.py
  apps/api/src/core/pipeline/validation_pipeline_decoupled.py
  apps/api/src/core/pipeline/validation_pipeline_decoupled_optimized.py
  apps/api/src/infrastructure/mappers/result_mapper.py
  apps/api/src/infrastructure/validators/rule_engine_validator.py
Labels: none

fix: clear Python cache before running tests in CI
  .github/workflows/ci.yml
Labels: ci/cd

fix: resolve CI/CD pipeline issues and type errors
  .github/workflows/ci.yml
  apps/api/requirements.txt
  apps/api/src/services/job_service_adapter.py
  apps/api/src/telemetry/telemetry_service.py
Labels: ci/cd

fix: address 6 critical review findings and CI failure
  apps/api/src/adapters/acl_meli/clients/meli_client.py
  apps/api/src/adapters/acl_meli/errors/meli_error_translator.py
  apps/api/src/adapters/acl_meli/importers/meli_rules_importer.py
  apps/api/src/adapters/acl_meli/mappers/meli_to_canonical_mapper.py
  apps/api/src/services/__init__.py
Labels: none

fix: resolve remaining relative import errors
  apps/api/src/core/interfaces/job_service.py
  apps/api/src/core/validators/job_validator.py
  apps/api/src/infrastructure/repositories/base_repository.py
  apps/api/src/infrastructure/repositories/file_repository.py
  apps/api/src/infrastructure/repositories/job_repository.py
  apps/api/src/infrastructure/repositories/user_repository.py
  apps/api/src/infrastructure/repositories/validation_result_repository.py
Labels: none

fix: address 5 additional review findings
  apps/api/src/api/dependencies/auth.py
  apps/api/src/api/v1/health.py
  apps/api/src/infrastructure/loaders/rule_loader.py
  apps/api/src/infrastructure/repositories/file_repository.py
  apps/api/src/services/policy_loader.py
Labels: none

fix: resolve SQLAlchemy table redefinition error in tests
  apps/api/src/models/file.py
  apps/api/src/models/job.py
  apps/api/src/models/user.py
  apps/api/src/models/validation_result.py
Labels: none

fix: address 5 critical timestamp and retry issues
  apps/api/src/adapters/acl_meli/clients/meli_client.py
  apps/api/src/adapters/acl_meli/importers/meli_rules_importer.py
Labels: none

fix: address 5 more critical timestamp and security issues
  apps/api/src/adapters/acl_meli/errors/meli_error_translator.py
  apps/api/src/adapters/acl_meli/importers/meli_rules_importer.py
  apps/api/src/adapters/acl_meli/models/canonical_rule.py
  apps/api/src/infrastructure/queue_publisher.py
Labels: none

fix: comprehensive code review fixes and improvements
  apps/api/src/adapters/acl_meli/clients/meli_client.py
  apps/api/src/adapters/acl_meli/errors/meli_error_translator.py
  apps/api/src/adapters/acl_meli/importers/meli_rules_importer.py
  apps/api/src/api/v1/health.py
  apps/api/src/api/v1/jobs.py
  apps/api/src/api/v1/validation.py
  apps/api/src/core/logging_config.py
  apps/api/src/core/settings.py
  apps/api/src/infrastructure/repositories/file_repository.py
  apps/api/src/middleware/correlation.py
  apps/api/src/middleware/telemetry_middleware.py
  apps/api/src/models/job.py
  apps/api/src/schemas/errors.py
  apps/api/src/services/storage_service.py
  apps/api/src/telemetry/emitter.py
  apps/api/src/telemetry/telemetry_service.py
  apps/api/test_trim_correction_isolated.py
Labels: tests

fix: address additional code review findings
  apps/api/src/api/dependencies/auth.py
  apps/api/src/services/csv_validation_service.py
  apps/api/src/services/report_generator_service.py
  apps/api/src/telemetry/telemetry_service.py
Labels: none

fix: improve telemetry and security middleware
  apps/api/src/middleware/correlation.py
  apps/api/src/telemetry/job_telemetry.py
Labels: none

fix: address Copilot AI review findings
  apps/api/src/services/report_generator_service.py
  apps/api/src/services/storage_service.py
  apps/api/test_real_csv_validation.py
Labels: tests

fix: prevent memory leak in RateLimitMiddleware
  apps/api/src/middleware/correlation.py
Labels: none

fix: improve telemetry emitter and frontend component
  apps/api/src/telemetry/emitter.py
  apps/web/components/apply-fixes-bar.tsx
Labels: none

chore: include aiofiles dependency
  apps/api/pyproject.toml
  apps/api/requirements.txt
Labels: none

fix: address critical security and code quality issues
  apps/api/src/adapters/acl_meli/clients/meli_client.py
  apps/api/src/adapters/acl_meli/importers/meli_rules_importer.py
  apps/api/src/adapters/acl_meli/models/canonical_rule.py
  apps/api/src/adapters/acl_meli/models/meli_models.py
  apps/api/src/api/dependencies/auth.py
  apps/api/src/infrastructure/queue_publisher.py
  libs/rule_engine/core.py
  libs/rule_engine/engine.py
Labels: none

feat: add comprehensive testing infrastructure and code quality tools
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  apps/api/src/adapters/acl_meli/tests/fixtures/meli/category_MLB1055.json
  apps/api/src/adapters/acl_meli/tests/test_contract_mapping.py
  apps/api/src/adapters/acl_meli/tests/test_property_based_validators.py
  apps/api/src/adapters/acl_meli/tests/test_resilience.py
  apps/api/src/models/file.py
  apps/api/src/models/job.py
  apps/api/src/models/user.py
  apps/api/src/models/validation_result.py
  apps/api/src/test_settings.py
  docs/adr/ADR-006-anti-corruption-layer-pattern.md
  pyproject.toml
Labels: tests, documentation, ci/cd

fix: resolve CI failures and missing dependencies
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  apps/api/requirements.txt
  apps/api/src/core/use_cases/validate_csv_with_telemetry.py
  docs/HARDENING_CHECKLIST.md
Labels: documentation, ci/cd

refactor: implement Copilot AI suggestions
  .github/workflows/ci.yml
  apps/api/requirements.txt
  apps/api/src/models/file.py
  apps/api/src/models/job.py
  apps/api/src/models/user.py
  apps/api/src/models/utils.py
  apps/api/src/models/validation_result.py
Labels: ci/cd

fix: resolve PostgreSQL connection issues in CI
  .github/workflows/ci.yml
Labels: ci/cd

fix: create all required PostgreSQL databases in CI
  .github/workflows/ci.yml
Labels: ci/cd

feat: Testing Infrastructure & Code Quality Improvements (#43)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  apps/api/requirements.txt
  apps/api/src/adapters/acl_meli/tests/fixtures/meli/category_MLB1055.json
  apps/api/src/adapters/acl_meli/tests/test_contract_mapping.py
  apps/api/src/adapters/acl_meli/tests/test_property_based_validators.py
  apps/api/src/adapters/acl_meli/tests/test_resilience.py
  apps/api/src/core/use_cases/validate_csv_with_telemetry.py
  apps/api/src/models/file.py
  apps/api/src/models/job.py
  apps/api/src/models/user.py
  apps/api/src/models/utils.py
  apps/api/src/models/validation_result.py
  apps/api/src/test_settings.py
  docs/HARDENING_CHECKLIST.md
  docs/adr/ADR-006-anti-corruption-layer-pattern.md
  pyproject.toml
Labels: tests, documentation, ci/cd

feat: implement security hardening and test improvements
  .bandit
  libs/resilience/__init__.py
  libs/resilience/retry_utils.py
  libs/security/__init__.py
  libs/security/security_utils.py
  pyproject.toml
  tests/conftest_isolation.py
  tests/fixtures/meli_responses.py
  tests/hypothesis_settings.py
  tests/strategies.py
  tests/test_circuit_breaker.py
Labels: tests

feat: implement comprehensive clean architecture foundations (Phase 0 & 1)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  apps/api/src/core/ports/__init__.py
  apps/api/src/core/ports/clock_port.py
  apps/api/src/core/ports/policy_loader_port.py
  apps/api/src/core/ports/queue_port.py
  apps/api/src/core/ports/rule_engine_port.py
  apps/api/src/core/ports/storage_port.py
  apps/api/src/core/ports/tabular_reader_port.py
  apps/api/src/core/ports/validation_service_port.py
  docs/CLEAN_ARCHITECTURE_ROADMAP.md
  docs/REFACTORING_CHECKLIST.md
  pyproject.toml
  scripts/check_architecture.py
Labels: documentation, ci/cd

feat: define rule engine service port
  apps/api/src/api/v1/validation_refactored.py
  apps/api/src/core/interfaces/__init__.py
  apps/api/src/core/interfaces/rule_engine.py
  apps/api/src/core/use_cases/validate_csv.py
  apps/api/src/services/rule_engine_service_adapter.py
Labels: none

test: mock rule engine service
  apps/api/src/api/v1/validation_refactored.py
  apps/api/src/core/interfaces/__init__.py
  apps/api/src/core/interfaces/rule_engine.py
  apps/api/src/core/use_cases/correct_csv.py
  apps/api/src/core/use_cases/validate_csv.py
  apps/api/src/core/use_cases/validate_row.py
  apps/api/src/infrastructure/validators/rule_engine_validator.py
  apps/api/tests/unit/test_rule_engine_validator.py
Labels: tests

refactor validators into modules
  apps/api/src/utils/validators.py
  apps/api/src/utils/validators/__init__.py
  apps/api/src/utils/validators/email_validator.py
  apps/api/src/utils/validators/number_validator.py
  apps/api/src/utils/validators/pricing.py
  apps/api/src/utils/validators/product_id_validator.py
  apps/api/tests/unit/test_email_validator.py
  apps/api/tests/unit/test_number_validator.py
  apps/api/tests/unit/test_pricing.py
  apps/api/tests/unit/test_product_id_validator.py
  apps/api/tests/unit/test_validators.py
  docs/REFACTORING_CHECKLIST.md
Labels: tests, documentation

refactor logging configuration
  apps/api/src/core/logging_config.py
  apps/api/src/infrastructure/logging_config.py
  apps/api/src/main.py
  apps/api/src/workers/celery_app.py
Labels: none

package rule engine and clean imports
  apps/__init__.py
  apps/api/__init__.py
  apps/api/src/infrastructure/factories/rule_engine_factory.py
  apps/api/src/infrastructure/loaders/rule_loader.py
  apps/api/src/infrastructure/mappers/result_mapper.py
  pyproject.toml
  tests/golden/conftest.py
  tests/golden/golden_runner.py
  tests/golden/test_engine.py
  tests/test_ruleset_loading.py
Labels: tests

feat(api): add validation pipeline dependencies
  apps/api/src/api/dependencies/__init__.py
  apps/api/src/api/dependencies/validation_pipeline.py
  apps/api/src/api/v1/validation.py
Labels: none

perf(api): cache validation pipeline instance
  apps/api/src/api/dependencies/validation_pipeline.py
Labels: none

feat(api): inject validation pipeline dependencies (#51)
  apps/api/src/api/dependencies/__init__.py
  apps/api/src/api/dependencies/validation_pipeline.py
  apps/api/src/api/v1/validation.py
Labels: none

refactor: remove unused rule engine service injection
  apps/api/src/api/v1/validation_refactored.py
  apps/api/src/core/use_cases/validate_csv.py
Labels: none

test: mock rule engine service (#46)
  apps/api/src/api/v1/validation_refactored.py
  apps/api/src/core/interfaces/__init__.py
  apps/api/src/core/interfaces/rule_engine.py
  apps/api/src/core/use_cases/correct_csv.py
  apps/api/src/core/use_cases/validate_csv.py
  apps/api/src/core/use_cases/validate_row.py
  apps/api/src/infrastructure/validators/rule_engine_validator.py
  apps/api/tests/unit/test_rule_engine_validator.py
Labels: tests

refactor validators into modules (#48)
  apps/api/src/utils/validators.py
  apps/api/src/utils/validators/__init__.py
  apps/api/src/utils/validators/email_validator.py
  apps/api/src/utils/validators/number_validator.py
  apps/api/src/utils/validators/pricing.py
  apps/api/src/utils/validators/product_id_validator.py
  apps/api/tests/unit/test_email_validator.py
  apps/api/tests/unit/test_number_validator.py
  apps/api/tests/unit/test_pricing.py
  apps/api/tests/unit/test_product_id_validator.py
  apps/api/tests/unit/test_validators.py
  docs/REFACTORING_CHECKLIST.md
Labels: tests, documentation

Update tests/test_circuit_breaker.py
  tests/test_circuit_breaker.py
Labels: tests

docs: update architecture diagrams to reflect current system design
  README.md
Labels: documentation

refactor: improve dataframe utils docs
  apps/api/src/infrastructure/dataframe_utils.py
Labels: none
