Repository drapala/validahub-new, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, database, tests, documentation, ci/cd, dependencies

fix: resolve TypeScript errors in validate-row and results-table
  apps/web/app/(app)/validate-row/page.tsx
  apps/web/components/results-table.tsx
Labels: none

fix: address critical Copilot review suggestions
  .gitignore
  TECHNICAL_DEBT.md
  apps/api/src/api/v1/validation.py
  apps/api/tests/test_pipelines.py
  apps/web/app/(app)/validate-row/page.tsx
  apps/web/lib/api.ts
Labels: tests, documentation

fix: resolve all test failures in validation system
  apps/api/src/api/v1/validation.py
  apps/api/tests/test_pipelines.py
  apps/api/tests/test_validate.py
  apps/api/tests/unit/test_rule_engine_service.py
Labels: tests

fix: implement second round of Copilot review suggestions
  TECHNICAL_DEBT.md
  apps/api/src/main.py
  apps/web/app/(app)/validate-row/page.tsx
  apps/web/components/results-table.tsx
  libs/rule_engine/engine.py
Labels: documentation

fix: resolve remaining test failures
  apps/api/src/api/v1/validation.py
  apps/api/tests/integration/test_validation_endpoint.py
  apps/api/tests/test_validate.py
Labels: tests

docs: update technical debt with additional Copilot suggestions
  TECHNICAL_DEBT.md
Labels: documentation

Add technical debt audit reports
  .github/ISSUE_TEMPLATE/tech-debt.yml
  docs/tech-debt/audit.md
  docs/tech-debt/findings/TD-0001.md
  docs/tech-debt/findings/TD-0002.md
  docs/tech-debt/findings/TD-0003.md
  docs/tech-debt/findings/TD-0004.md
  docs/tech-debt/findings/TD-0005.md
  docs/tech-debt/inventory.csv
  reports/eslint.json
  reports/file_count.txt
  reports/flags.txt
  reports/hotspots.txt
  reports/jscpd-report.json
  reports/large_files.txt
  reports/mypy.xml
  reports/pip-audit.json
  reports/radon-raw.json
  reports/radon.json
  reports/ruff.json
  reports/tree.txt
Labels: documentation, ci/cd

Add technical debt audit reports
  .github/ISSUE_TEMPLATE/tech-debt.yml
  docs/tech-debt/audit.md
  docs/tech-debt/findings/TD-0001.md
  docs/tech-debt/findings/TD-0002.md
  docs/tech-debt/findings/TD-0003.md
  docs/tech-debt/findings/TD-0004.md
  docs/tech-debt/findings/TD-0005.md
  docs/tech-debt/inventory.csv
  reports/eslint.json
  reports/file_count.txt
  reports/flags.txt
  reports/hotspots.txt
  reports/jscpd-report.json
  reports/large_files.txt
  reports/mypy.xml
  reports/pip-audit.json
  reports/radon-raw.json
  reports/radon.json
  reports/ruff.json
  reports/tree.txt
Labels: documentation, ci/cd

Update docs/tech-debt/findings/TD-0005.md
  docs/tech-debt/findings/TD-0005.md
Labels: documentation

Update docs/tech-debt/findings/TD-0004.md
  docs/tech-debt/findings/TD-0004.md
Labels: documentation

Update docs/tech-debt/findings/TD-0002.md
  docs/tech-debt/findings/TD-0002.md
Labels: documentation

Update docs/tech-debt/findings/TD-0003.md
  docs/tech-debt/findings/TD-0003.md
Labels: documentation

Update docs/tech-debt/findings/TD-0003.md
  docs/tech-debt/findings/TD-0003.md
Labels: documentation

docs: add comprehensive technical debt audit
  docs/tech-debt/audit.md
  docs/tech-debt/findings/TD-001.md
  docs/tech-debt/findings/TD-002.md
  docs/tech-debt/findings/TD-003.md
  docs/tech-debt/inventory.csv
Labels: documentation

Update apps/api/src/config.py
  apps/api/src/config.py
Labels: none

Update apps/api/src/services/rule_engine_service.py
  apps/api/src/services/rule_engine_service.py
Labels: none

Update docs/tech-debt/inventory.csv
  docs/tech-debt/inventory.csv
Labels: documentation

feat: validation improvements and technical debt audit (#20)
  apps/api/src/config.py
  apps/api/src/services/rule_engine_service.py
  docs/tech-debt/audit.md
  docs/tech-debt/findings/TD-001.md
  docs/tech-debt/findings/TD-002.md
  docs/tech-debt/findings/TD-003.md
  docs/tech-debt/inventory.csv
Labels: documentation

Update docs/tech-debt/inventory.csv
  docs/tech-debt/inventory.csv
Labels: documentation

Update docs/tech-debt/audit.md
  docs/tech-debt/audit.md
Labels: documentation

Update docs/tech-debt/findings/TD-0002.md
  docs/tech-debt/findings/TD-0002.md
Labels: documentation

docs: add technical debt audit reports (#21)
  .github/ISSUE_TEMPLATE/tech-debt.yml
  docs/tech-debt/audit.md
  docs/tech-debt/findings/TD-0001.md
  docs/tech-debt/findings/TD-0002.md
  docs/tech-debt/findings/TD-0003.md
  docs/tech-debt/findings/TD-0004.md
  docs/tech-debt/findings/TD-0005.md
  docs/tech-debt/inventory.csv
  reports/eslint.json
  reports/file_count.txt
  reports/flags.txt
  reports/hotspots.txt
  reports/jscpd-report.json
  reports/large_files.txt
  reports/mypy.xml
  reports/pip-audit.json
  reports/radon-raw.json
  reports/radon.json
  reports/ruff.json
  reports/tree.txt
Labels: documentation, ci/cd

feat(jobs): implement complete async job queue system with Celery
  apps/api/.env.example
  apps/api/JOBS_README.md
  apps/api/alembic/versions/0af1331f1df2_add_jobs_and_job_results_tables.py
  apps/api/src/api/v1/jobs.py
  apps/api/src/main.py
  apps/api/src/models/job.py
  apps/api/src/schemas/job.py
  apps/api/src/services/job_service.py
  apps/api/src/workers/celery_app.py
  apps/api/src/workers/schedulers.py
  apps/api/src/workers/tasks.py
  docs/FEATURE_ROADMAP.md
  docs/IMPLEMENTATION_PLAN.md
  reports/file_count.txt
  reports/flags.txt
  reports/hotspots.txt
  reports/radon.json
  reports/ruff.json
  reports/tech_stack.txt
  reports/tree_sample.txt
Labels: documentation

feat(jobs): implement complete async job queue system with Celery
  apps/api/.env.example
  apps/api/JOBS_README.md
  apps/api/alembic/versions/0af1331f1df2_add_jobs_and_job_results_tables.py
  apps/api/src/api/v1/jobs.py
  apps/api/src/main.py
  apps/api/src/models/job.py
  apps/api/src/schemas/job.py
  apps/api/src/services/job_service.py
  apps/api/src/workers/celery_app.py
  apps/api/src/workers/schedulers.py
  apps/api/src/workers/tasks.py
  docs/FEATURE_ROADMAP.md
  docs/IMPLEMENTATION_PLAN.md
  reports/hotspots.txt
  reports/tech_stack.txt
  reports/tree_sample.txt
Labels: documentation

feat(jobs): implement job architecture improvements and telemetry
  apps/api/.env
  apps/api/alembic/versions/002_add_telemetry_events_table.py
  apps/api/alembic/versions/0af1331f1df2_add_jobs_and_job_results_tables.py
  apps/api/config/queue_config.yaml
  apps/api/schemas/events/job_completed-v1.json
  apps/api/schemas/events/job_failed-v1.json
  apps/api/schemas/events/job_retrying-v1.json
  apps/api/schemas/events/job_started-v1.json
  apps/api/src/api/v1/jobs.py
  apps/api/src/config/queue_config.py
  apps/api/src/exceptions.py
  apps/api/src/infrastructure/queue_publisher.py
  apps/api/src/models/job.py
  apps/api/src/services/csv_validation_service.py
  apps/api/src/services/job_service.py
  apps/api/src/telemetry/emitter.py
  apps/api/src/telemetry/job_telemetry.py
  apps/api/src/workers/celery_app.py
  apps/api/src/workers/tasks.py
  docs/JOB_ARCHITECTURE_REVIEW.md
  reports/hotspots.txt
Labels: documentation

refactor(jobs): decouple JobService from Celery and enhance telemetry
  apps/api/alembic/versions/002_add_telemetry_events_table.py
  apps/api/alembic/versions/0af1331f1df2_add_jobs_and_job_results_tables.py
  apps/api/docs/ARCHITECTURE_IMPROVEMENTS.md
  apps/api/src/api/dependencies/__init__.py
  apps/api/src/api/dependencies/auth.py
  apps/api/src/api/v1/jobs.py
  apps/api/src/infrastructure/queue_factory.py
  apps/api/src/infrastructure/queue_publisher.py
  apps/api/src/services/job_service.py
  apps/api/src/telemetry/metrics.py
  apps/api/src/workers/celery_app.py
  apps/api/src/workers/tasks.py
  apps/api/tests/fixtures/csv_samples.py
Labels: tests, documentation

feat(telemetry): add job.queued event and standardize event schemas
  apps/api/alembic/versions/002_add_telemetry_events_table.py
  apps/api/src/services/job_service.py
  apps/api/src/services/storage_service.py
  apps/api/src/telemetry/job_telemetry.py
  apps/api/src/telemetry/schemas/job_events_v1.json
  apps/api/src/workers/tasks.py
Labels: none

fix: address code review feedback and improve code quality
  apps/api/alembic/versions/002_add_telemetry_events_table.py
  apps/api/src/services/storage_service.py
  apps/api/src/workers/tasks.py
Labels: none

fix: address security and code quality issues from code review
  apps/api/alembic/versions/002_add_telemetry_events_table.py
  apps/api/src/api/dependencies/auth.py
  apps/api/src/api/v1/jobs.py
  apps/api/src/infrastructure/queue_publisher.py
  apps/api/src/models/job.py
  apps/api/src/services/job_service.py
  apps/api/src/services/storage_service.py
  apps/api/src/workers/tasks.py
Labels: none

fix: address additional security and code quality concerns
  apps/api/alembic/versions/0af1331f1df2_add_jobs_and_job_results_tables.py
  apps/api/src/api/dependencies/auth.py
  apps/api/src/exceptions.py
  apps/api/src/models/job.py
  apps/api/src/services/job_service.py
  apps/api/src/telemetry/emitter.py
  apps/api/src/workers/tasks.py
Labels: none

refactor: centralize validation configuration
  apps/api/src/core/config.py
  apps/api/src/workers/tasks.py
Labels: none

fix: address final code review issues
  apps/api/src/infrastructure/queue_publisher.py
  apps/api/src/models/job.py
  apps/api/src/services/storage_service.py
  apps/api/src/telemetry/emitter.py
Labels: none

fix: address Copilot code review security and quality issues
  apps/api/alembic/versions/002_add_telemetry_events_table.py
  apps/api/scripts/telemetry_maintenance.py
  apps/api/src/api/dependencies/auth.py
  apps/api/src/services/job_service.py
  apps/api/src/services/storage_service.py
  apps/api/src/telemetry/emitter.py
  apps/api/src/workers/celery_app.py
  apps/api/src/workers/tasks.py
Labels: none

fix: security and performance improvements
  apps/api/src/api/v1/jobs.py
  apps/api/src/core/config.py
  apps/api/src/infrastructure/queue_publisher.py
  apps/api/src/models/job.py
  apps/api/src/services/job_service.py
  apps/api/src/services/storage_service.py
  apps/api/src/telemetry/emitter.py
  apps/api/src/workers/tasks.py
Labels: none

fix: additional code quality improvements
  apps/api/src/api/v1/jobs.py
  apps/api/src/core/config.py
  apps/api/src/services/storage_service.py
  apps/api/src/telemetry/emitter.py
  apps/api/src/telemetry/metrics.py
  apps/api/src/workers/celery_app.py
  apps/api/src/workers/tasks.py
Labels: none

fix: enhance security measures across the codebase
  apps/api/src/api/dependencies/auth.py
  apps/api/src/services/job_service.py
  apps/api/src/services/storage_service.py
  apps/api/src/telemetry/emitter.py
  apps/api/src/workers/tasks.py
Labels: none

fix: address Copilot security and code quality issues
  apps/api/src/api/dependencies/auth.py
  apps/api/src/infrastructure/queue_factory.py
  apps/api/src/services/job_service.py
  apps/api/src/services/storage_service.py
  apps/api/src/telemetry/emitter.py
  apps/api/src/telemetry/job_telemetry.py
  apps/api/src/workers/celery_app.py
  apps/api/src/workers/tasks.py
Labels: none

Update apps/api/src/services/job_service.py
  apps/api/src/services/job_service.py
Labels: none

fix: improve thread-safety and performance
  apps/api/src/telemetry/job_telemetry.py
  apps/api/src/workers/tasks.py
Labels: none

fix: enhance security and code quality
  apps/api/src/api/dependencies/auth.py
  apps/api/src/core/config.py
  apps/api/src/models/job.py
  apps/api/src/services/job_service.py
  apps/api/src/services/storage_service.py
  apps/api/src/telemetry/emitter.py
  apps/api/src/workers/tasks.py
Labels: none

.github/labeler.yml:

# Add labels based on file changes
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - 'app/**'
      - 'components/**'
      - 'lib/**'
      - 'hooks/**'
      - 'public/**'
      - '*.tsx'
      - '*.ts'
      - 'package.json'
      - 'next.config.*'

backend:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/**'
      - 'requirements.txt'

database:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/alembic/**'
      - 'backend/src/models/**'
      - '**/migrations/**'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/tests/**'
      - '**/test_*.py'
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/conftest.py'
      - 'jest.config.*'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'Dockerfile'
      - 'docker-compose.yml'
      - '.dockerignore'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'requirements.txt'
      - 'Pipfile'
      - 'Pipfile.lock'
