Repository drapala/validahub-new, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, database, tests, documentation, ci/cd, dependencies

chore: migrate to monorepo structure with pnpm + Turborepo
  .github/workflows/ci.yml
  .gitignore
  apps/api/.env
  apps/api/.env.example
  apps/api/Makefile
  apps/api/alembic.ini
  apps/api/alembic/README
  apps/api/alembic/env.py
  apps/api/alembic/script.py.mako
  apps/api/package.json
  apps/api/pyproject.toml
  apps/api/pytest.ini
  apps/api/requirements.txt
  apps/api/src/__init__.py
  apps/api/src/config.py
  apps/api/src/db/__init__.py
  apps/api/src/db/base.py
  apps/api/src/main.py
  apps/api/src/models/__init__.py
  apps/api/src/models/file.py
  apps/api/src/models/job.py
  apps/api/src/models/user.py
  apps/api/tests/__init__.py
  apps/api/tests/conftest.py
  apps/api/tests/test_status.py
  apps/web/package.json
  apps/web/tsconfig.json
  package.json
  packages/shared/package.json
  packages/shared/src/constants.ts
  packages/shared/src/index.ts
  packages/shared/src/schemas.ts
  packages/shared/src/types.ts
  packages/shared/tsconfig.json
  pnpm-workspace.yaml
  tsconfig.base.json
  turbo.json
Labels: frontend, tests, ci/cd, dependencies

fix: resolve CI pipeline issues
  .github/workflows/ci.yml
  .gitignore
  pnpm-lock.yaml
Labels: ci/cd

fix: update Next.js and fix CI issues
  .github/workflows/ci.yml
  apps/api/package.json
  apps/web/package.json
  packages/shared/package.json
  pnpm-lock.yaml
Labels: ci/cd

fix: resolve remaining CI issues
  .github/workflows/ci.yml
  apps/web/.eslintrc.json
Labels: ci/cd

fix: resolve TypeScript errors and CI issues
  apps/api/package.json
  apps/web/app/(app)/results/[jobId]/page.tsx
  apps/web/components/apply-fixes-bar.tsx
  apps/web/lib/api.ts
Labels: none

fix: resolve Docker build and linting issues
  .github/workflows/ci.yml
  apps/web/tsconfig.json
Labels: ci/cd

fix: correct tsconfig paths and Docker build
  .github/workflows/ci.yml
  apps/web/package.json
  apps/web/tsconfig.json
  pnpm-lock.yaml
Labels: ci/cd

fix: resolve test and Docker build issues
  .github/workflows/ci.yml
  apps/web/package.json
  packages/shared/package.json
Labels: ci/cd

fix: resolve pytest and Docker public dir issues
  .github/workflows/ci.yml
  apps/web/public/.gitkeep
Labels: ci/cd

fix: simplify Docker build for Next.js app
  .github/workflows/ci.yml
Labels: ci/cd

feat(api): implement /validate_csv endpoint (T2)
  apps/api/requirements.txt
  apps/api/src/api/__init__.py
  apps/api/src/api/validate.py
  apps/api/src/main.py
  apps/api/src/schemas/__init__.py
  apps/api/src/schemas/validate.py
  apps/api/src/services/__init__.py
  apps/api/src/services/validator.py
  apps/api/tests/test_validate.py
Labels: tests

fix: corrige integração frontend-backend para validação de CSV
  apps/api/src/main.py
  apps/web/components/category-picker.tsx
  apps/web/components/result-summary.tsx
  apps/web/components/results-table.tsx
  apps/web/lib/api.ts
Labels: none

fix: corrige mock de validação para corresponder ao tipo ValidationResult
  BACKLOG.md
  apps/api/.env
  apps/web/lib/api.ts
  apps/web/next-env.d.ts
  csv-valido-mercado-livre.csv
  teste-mercado-livre.csv
  teste-valido.csv
Labels: documentation

chore: monorepo-bootstrap (#3)
  BACKLOG.md
  apps/api/.env
  apps/api/requirements.txt
  apps/api/src/api/__init__.py
  apps/api/src/api/validate.py
  apps/api/src/main.py
  apps/api/src/schemas/__init__.py
  apps/api/src/schemas/validate.py
  apps/api/src/services/__init__.py
  apps/api/src/services/validator.py
  apps/api/tests/test_validate.py
  apps/web/components/category-picker.tsx
  apps/web/components/result-summary.tsx
  apps/web/components/results-table.tsx
  apps/web/lib/api.ts
  apps/web/next-env.d.ts
  csv-valido-mercado-livre.csv
  teste-mercado-livre.csv
  teste-valido.csv
Labels: tests, documentation

chore: monorepo-bootstrap (#3)
  BACKLOG.md
  apps/api/.env
  apps/api/requirements.txt
  apps/api/src/api/__init__.py
  apps/api/src/api/validate.py
  apps/api/src/main.py
  apps/api/src/schemas/__init__.py
  apps/api/src/schemas/validate.py
  apps/api/src/services/__init__.py
  apps/api/src/services/validator.py
  apps/api/tests/test_validate.py
  apps/web/components/category-picker.tsx
  apps/web/components/result-summary.tsx
  apps/web/components/results-table.tsx
  apps/web/lib/api.ts
  apps/web/next-env.d.ts
  csv-valido-mercado-livre.csv
  teste-mercado-livre.csv
  teste-valido.csv
Labels: tests, documentation

feat: implementa download de CSV corrigido (T4)
  BACKLOG.md
  apps/api/src/api/validate.py
  apps/api/src/services/corrector.py
  apps/web/app/(app)/upload/page.tsx
  apps/web/components/apply-fixes-bar.tsx
  apps/web/lib/api.ts
  teste-corrigido.csv
Labels: documentation

fix: corrige índices e lógica de correção de CSV
  apps/api/src/services/corrector.py
  teste-mercado-livre_corrigido.csv
Labels: none

feat: csv download corrected (#4)
  BACKLOG.md
  apps/api/src/api/validate.py
  apps/api/src/services/corrector.py
  apps/web/app/(app)/upload/page.tsx
  apps/web/components/apply-fixes-bar.tsx
  apps/web/lib/api.ts
  teste-corrigido.csv
  teste-mercado-livre_corrigido.csv
Labels: documentation

feat: csv download corrected (#4)
  BACKLOG.md
  apps/api/src/api/validate.py
  apps/api/src/services/corrector.py
  apps/web/app/(app)/upload/page.tsx
  apps/web/components/apply-fixes-bar.tsx
  apps/web/lib/api.ts
  teste-corrigido.csv
  teste-mercado-livre_corrigido.csv
Labels: documentation

feat: implementação da arquitetura de plugins para validação e correção
  API_AUDIT.md
  ARCHITECTURE.md
  BACKLOG.md
  apps/api/src/api/validate.py
  apps/api/src/core/__init__.py
  apps/api/src/core/corrections/__init__.py
  apps/api/src/core/corrections/base.py
  apps/api/src/core/engines/__init__.py
  apps/api/src/core/engines/rule_engine.py
  apps/api/src/core/interfaces/__init__.py
  apps/api/src/core/interfaces/corrector.py
  apps/api/src/core/interfaces/rule.py
  apps/api/src/core/interfaces/validator.py
  apps/api/src/rules/__init__.py
  apps/api/src/rules/base/__init__.py
  apps/api/src/rules/base/common_rules.py
  apps/api/src/rules/base/number_rules.py
  apps/api/src/rules/base/required_fields.py
  apps/api/src/rules/base/stock_rules.py
  apps/api/src/rules/base/text_rules.py
  apps/api/src/rules/marketplaces/__init__.py
  apps/api/src/rules/marketplaces/amazon/__init__.py
  apps/api/src/rules/marketplaces/amazon/provider.py
  apps/api/src/rules/marketplaces/mercado_livre/__init__.py
  apps/api/src/rules/marketplaces/mercado_livre/provider.py
  apps/api/src/rules/marketplaces/shopee/__init__.py
  apps/api/src/rules/marketplaces/shopee/provider.py
  apps/api/src/services/corrector_v2.py
  apps/api/src/services/validator.py
  apps/api/src/services/validator_old.py.bak
  corrected_shopee.csv
  test_shopee.csv
Labels: documentation

fix: corrige importação do CSVCorrectorV2 no endpoint de preview
  apps/api/src/api/validate.py
Labels: none

fix: corrige testes de validação para nova arquitetura de plugins
  apps/api/tests/test_validate.py
  corrected_ml.csv
  test_simple.csv
  test_validation.csv
Labels: tests

refactor: plugin architecture (#5)
  API_AUDIT.md
  ARCHITECTURE.md
  BACKLOG.md
  apps/api/src/api/validate.py
  apps/api/src/core/__init__.py
  apps/api/src/core/corrections/__init__.py
  apps/api/src/core/corrections/base.py
  apps/api/src/core/engines/__init__.py
  apps/api/src/core/engines/rule_engine.py
  apps/api/src/core/interfaces/__init__.py
  apps/api/src/core/interfaces/corrector.py
  apps/api/src/core/interfaces/rule.py
  apps/api/src/core/interfaces/validator.py
  apps/api/src/rules/__init__.py
  apps/api/src/rules/base/__init__.py
  apps/api/src/rules/base/common_rules.py
  apps/api/src/rules/base/number_rules.py
  apps/api/src/rules/base/required_fields.py
  apps/api/src/rules/base/stock_rules.py
  apps/api/src/rules/base/text_rules.py
  apps/api/src/rules/marketplaces/__init__.py
  apps/api/src/rules/marketplaces/amazon/__init__.py
  apps/api/src/rules/marketplaces/amazon/provider.py
  apps/api/src/rules/marketplaces/mercado_livre/__init__.py
  apps/api/src/rules/marketplaces/mercado_livre/provider.py
  apps/api/src/rules/marketplaces/shopee/__init__.py
  apps/api/src/rules/marketplaces/shopee/provider.py
  apps/api/src/services/corrector_v2.py
  apps/api/src/services/validator.py
  apps/api/src/services/validator_old.py.bak
  apps/api/tests/test_validate.py
  corrected_ml.csv
  corrected_shopee.csv
  test_shopee.csv
  test_simple.csv
  test_validation.csv
Labels: tests, documentation

refactor: plugin architecture (#5)
  API_AUDIT.md
  ARCHITECTURE.md
  BACKLOG.md
  apps/api/src/api/validate.py
  apps/api/src/core/__init__.py
  apps/api/src/core/corrections/__init__.py
  apps/api/src/core/corrections/base.py
  apps/api/src/core/engines/__init__.py
  apps/api/src/core/engines/rule_engine.py
  apps/api/src/core/interfaces/__init__.py
  apps/api/src/core/interfaces/corrector.py
  apps/api/src/core/interfaces/rule.py
  apps/api/src/core/interfaces/validator.py
  apps/api/src/rules/__init__.py
  apps/api/src/rules/base/__init__.py
  apps/api/src/rules/base/common_rules.py
  apps/api/src/rules/base/number_rules.py
  apps/api/src/rules/base/required_fields.py
  apps/api/src/rules/base/stock_rules.py
  apps/api/src/rules/base/text_rules.py
  apps/api/src/rules/marketplaces/__init__.py
  apps/api/src/rules/marketplaces/amazon/__init__.py
  apps/api/src/rules/marketplaces/amazon/provider.py
  apps/api/src/rules/marketplaces/mercado_livre/__init__.py
  apps/api/src/rules/marketplaces/mercado_livre/provider.py
  apps/api/src/rules/marketplaces/shopee/__init__.py
  apps/api/src/rules/marketplaces/shopee/provider.py
  apps/api/src/services/corrector_v2.py
  apps/api/src/services/validator.py
  apps/api/src/services/validator_old.py.bak
  apps/api/tests/test_validate.py
  corrected_ml.csv
  corrected_shopee.csv
  test_shopee.csv
  test_simple.csv
  test_validation.csv
Labels: tests, documentation

docs: atualiza README com arquitetura de plugins e arte ASCII
  README.md
Labels: documentation

fix: corrige implementação da interface IRuleProvider nos providers Shopee e Amazon
  apps/api/src/rules/marketplaces/amazon/provider.py
  apps/api/src/rules/marketplaces/shopee/provider.py
Labels: none

refactor: melhora implementação de get_rule_by_id nos providers
  apps/api/src/rules/marketplaces/amazon/provider.py
  apps/api/src/rules/marketplaces/shopee/provider.py
Labels: none

fix: corrige validação de regras no RuleEngine
  apps/api/src/api/validate.py
  apps/api/src/core/engines/rule_engine.py
  apps/api/src/rules/base/common_rules.py
Labels: none

fix: adiciona compatibilidade com providers que retornam lista ou dicionário
  apps/api/src/core/engines/rule_engine.py
Labels: none

refactor: implementa melhorias sugeridas pelo code review
  apps/api/src/api/validate.py
Labels: none

perf: adiciona caching e melhorias de performance sugeridas pelo review
  apps/api/src/core/engines/rule_engine.py
  apps/api/src/rules/marketplaces/amazon/provider.py
  apps/api/src/rules/marketplaces/shopee/provider.py
Labels: none

refactor: centraliza lógica de caching em classe base CachedRuleProvider
  apps/api/src/rules/base/__init__.py
  apps/api/src/rules/base/cached_provider.py
  apps/api/src/rules/marketplaces/amazon/provider.py
  apps/api/src/rules/marketplaces/shopee/provider.py
Labels: none

fix: corrige inconsistências de tipo e interface
  apps/api/src/core/interfaces/rule.py
  apps/api/src/rules/base/cached_provider.py
  apps/api/src/rules/marketplaces/amazon/provider.py
  apps/api/src/rules/marketplaces/shopee/provider.py
Labels: none

refactor: plugin architecture (#6)
  README.md
  apps/api/src/api/validate.py
  apps/api/src/core/engines/rule_engine.py
  apps/api/src/core/interfaces/rule.py
  apps/api/src/rules/base/__init__.py
  apps/api/src/rules/base/cached_provider.py
  apps/api/src/rules/base/common_rules.py
  apps/api/src/rules/marketplaces/amazon/provider.py
  apps/api/src/rules/marketplaces/shopee/provider.py
Labels: documentation

refactor: plugin architecture (#6)
  README.md
  apps/api/src/api/validate.py
  apps/api/src/core/engines/rule_engine.py
  apps/api/src/core/interfaces/rule.py
  apps/api/src/rules/base/__init__.py
  apps/api/src/rules/base/cached_provider.py
  apps/api/src/rules/base/common_rules.py
  apps/api/src/rules/marketplaces/amazon/provider.py
  apps/api/src/rules/marketplaces/shopee/provider.py
Labels: documentation

feat: add validation and correction pipelines
  apps/api/src/core/pipeline/__init__.py
  apps/api/src/core/pipeline/correction_pipeline.py
  apps/api/src/core/pipeline/validation_pipeline.py
  apps/api/src/services/corrector_v2.py
  apps/api/src/services/validator.py
  apps/api/tests/test_pipelines.py
Labels: tests

Update apps/api/src/services/corrector_v2.py
  apps/api/src/services/corrector_v2.py
Labels: none

Update apps/api/src/core/pipeline/correction_pipeline.py
  apps/api/src/core/pipeline/correction_pipeline.py
Labels: none

feat: add marketplace provider registry
  apps/api/src/rules/registry.py
  apps/api/src/services/validator.py
  apps/api/tests/test_validate.py
Labels: tests

feat: add marketplace provider registry (#8)
  apps/api/src/rules/registry.py
  apps/api/src/services/validator.py
  apps/api/tests/test_validate.py
Labels: tests

.github/labeler.yml:

# Add labels based on file changes
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - 'app/**'
      - 'components/**'
      - 'lib/**'
      - 'hooks/**'
      - 'public/**'
      - '*.tsx'
      - '*.ts'
      - 'package.json'
      - 'next.config.*'

backend:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/**'
      - 'requirements.txt'

database:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/alembic/**'
      - 'backend/src/models/**'
      - '**/migrations/**'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/tests/**'
      - '**/test_*.py'
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/conftest.py'
      - 'jest.config.*'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'Dockerfile'
      - 'docker-compose.yml'
      - '.dockerignore'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'requirements.txt'
      - 'Pipfile'
      - 'Pipfile.lock'
